/* Navigation bar */
nav {
  background-color: orange;
}
nav .navbar-brand {
  font-size: x-large;
  margin-left: 10px;
  font-family: cursive;
  font-weight: bold;
  color: black;
}
nav div{
  justify-content: end;
  font-size: large;
  font-weight: 400;
}

/* Slideshow */
div .carousel-inner .carousel-item h2{
  color: orange;
  background-color: whitesmoke;
}
